<div class="container my-5">
    <h1 class="mb-3">Изменить историю</h1>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="updateTale()">
                <div class="mb-3">
                    <label for="id" class="form-label">Id</label>
                    <input type="number" class="form-control" id="id" readonly
                    name="id" [(ngModel)] = "tale.id">
                </div>
                <div class="mb-3">
                    <label for="id_Master" class="form-label">Id мастера</label>
                    <input type="number" class="form-control" id="id_Master" readonly
                    name="id_Master" [(ngModel)] = "tale.id_Master">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Название</label>
                    <input type="text" class="form-control" id="name" 
                    name="name" [(ngModel)] = "tale.name">
                </div>
                <div class="mb-3">
                    <label for="count_parties" class="form-label">Количество партий</label>
                    <input type="number" class="form-control" id="count_parties"
                    name="count_parties" [(ngModel)] = "tale.count_parties">
                </div>
                <div class="mb-3">
                    <label for="start_Tale" class="form-label">Раса персонажа</label>
                    <input type="text" class="form-control" id="start_Tale" readonly
                    name="start_Tale" [(ngModel)] = "tale.start_Tale">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-danger float-end"
                        (click)="deleteTale(tale.id!)">Удалить</button>
                </div>
            </form>        
        </div>
    </div>
</div>
<div class="container my-5">
    <a [routerLink]="['/session', id]"><button class="btn btn-success pull-right">Сессии</button></a>
</div>