<div class="container my-5">
    <h1 class="mb-3">Изменить персонажа</h1>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="updateCharacter()">
                <div class="mb-3">
                    <label for="id" class="form-label">Id</label>
                    <input type="text" class="form-control" id="id" readonly
                    name="id" [(ngModel)] = "Character.id">
                </div>
                <div class="mb-3">
                    <label for="id_Member" class="form-label">Id создателя</label>
                    <input type="text" class="form-control" id="id_Member" readonly
                    name="id_Member" [(ngModel)] = "Character.id_Member">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Имя персонажа</label>
                    <input type="text" class="form-control" id="name" 
                    name="name" [(ngModel)] = "Character.name">
                </div>
                <div class="mb-3">
                    <label for="gender" class="form-label">Пол персонажа</label>
                    <select id="gender" class="form-select"
                    name="gender" [(ngModel)] = "Character.gender">
                        <option value="0">Неизвестно</option>
                        <option value="1">Мужской</option>
                        <option value="2">Женский</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="race" class="form-label">Раса персонажа</label>
                    <input type="text" class="form-control" id="race"
                    name="race" [(ngModel)] = "Character.race">
                </div>
                <button type="submit" class="btn btn-primary me-5">Сохранить</button>
                <button type="button" class="btn btn-danger"
                (click)="deleteCharacter(Character.id!)">Удалить</button>
            </form>        
        </div>
    </div>
</div>