<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/brand/d-and-d.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      D&D
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" 
          routerLink="members">Участники</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Персонажи
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" 
              routerLink="characters">Список персонажей</a></li>
            <li><a class="dropdown-item"
              routerLink="characters/add">Добавить Персонажа</a></li>
          </ul>
        </li>
        <div>
          Name:
          <input [(ngModel)]="user.username" placeholder="Name">
        </div>
        <div>
          Password:
          <input [(ngModel)]="user.password" placeholder="Password" type="password">
        </div>
        <button (click)="register(user)">Register</button>
        <button (click)="login(user)">Login</button>
        <button (click)="getme()">Get Me</button>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
