<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/brand/d-and-d.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      D&D
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" 
          routerLink="members">Участники</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Персонажи
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" 
              routerLink="characters">Список персонажей</a></li>
            <li><a class="dropdown-item"
              routerLink="characters/add">Добавить Персонажа</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <form class="d-flex">
      <ul class="navbar-nav ml-auto me-5 mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Аккаунт
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="ms-2 me-2">Name:
              <input [(ngModel)]="user.username" placeholder="Name">
            </li>
            <li class="ms-2 me-2">Password:
              <input [(ngModel)]="user.password" placeholder="Password" type="password">
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <div>
                <button type="button" class="ms-2 btn btn-dark" (click)="login(user)">Login</button>
                <button type="button" class="ms-4 btn btn-dark me-2" (click)="register(user)">Register</button>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>
