<div>
    <h1 class="mb-3">Персонажи</h1>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        
        <!-- Name Column -->
        <ng-container matColumnDef="id_Member">
            <th mat-header-cell *matHeaderCellDef> Id создателя</th>
            <td mat-cell *matCellDef="let element"> {{element.id_Member}} </td>
        </ng-container>
        
        <!-- Weight Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Имя персонажа </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        
        <!-- Symbol Column -->
        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef> Пол персонажа </th>
            <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="race">
            <th mat-header-cell *matHeaderCellDef> Раса персонажа</th>
            <td mat-cell *matCellDef="let element"> {{element.race}} </td>
        </ng-container>

        <ng-container matColumnDef="link">
            <th mat-header-cell *matHeaderCellDef> Изменить</th>
            <td mat-cell *matCellDef="let element"><a [routerLink]="['/characters', 'edit', element.id]">View</a></td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator
               [length]="length"
               [pageSizeOptions]="pageSizeOptions"
               aria-label="Select page">
    </mat-paginator>
    <!--<table class="table" *ngIf="characters && characters.length > 0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id создателя</th>
                <th>Имя</th>
                <th>Пол</th>
                <th>Раса</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let character of characters">
                <td>{{character.id}}</td>
                <td>{{character.id_Member}}</td>
                <td>{{character.name}}</td>
                <td>{{character.gender}}</td>
                <td>{{character.race}}</td>
                <td><a [routerLink]="['/characters', 'edit', character.id]">View</a></td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!characters || characters.length <= 0">Нет Персонажей</p>-->
</div>