<div>
    <h1 class="mb-3">Персонажи</h1>
</div>
<div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filter">
    </mat-form-field>
</div>
<div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="id_Member">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Создатель </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id_Member}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Имя персонажа </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>
      
      <!-- Gender Column -->
      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Пол </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.gender}} </mat-cell>
      </ng-container>
      
      <!-- Race Column -->
      <ng-container matColumnDef="race">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Раса </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.race}} </mat-cell>
      </ng-container>
  
      <!-- Color Column -->
      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Посмотреть </mat-header-cell>
        <mat-cell *matCellDef="let row"><a [routerLink]="['/characters', 'edit', row.id]">View</a></mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<div>
    <!--<table class="table" *ngIf="characters && characters.length > 0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id создателя</th>
                <th>Имя</th>
                <th>Пол</th>
                <th>Раса</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let character of characters">
                <td>{{character.id}}</td>
                <td>{{character.id_Member}}</td>
                <td>{{character.name}}</td>
                <td>{{character.gender}}</td>
                <td>{{character.race}}</td>
                <td><a [routerLink]="['/characters', 'edit', character.id]">View</a></td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!characters || characters.length <= 0">Нет Персонажей</p>-->
</div>